.header {
  margin-bottom: -4rem;
  &__container {
    @extend .container;
    display: flex;
    align-items: center;
    justify-content: space-between;;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 2.44rem;
    transition: 0.4s;

    &:hover {
      opacity: 0.5;
    }
  }

  &__nav {
    display: flex;
    list-style-type: none;

    &-item {
      margin: 0 0.5rem;

      &:first-child {
        margin-left: 0;
      }
    }

    &-link {
      padding: 0.5rem;
      font-size: 1rem;
      text-decoration: none;
      color: $c-gray;
      transition: 0.3s;

      &:hover {
        color: $c-white;
      }
    }
  }
}