.hero {
  min-height: 56.125rem;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;

  &__container {
    @extend .container;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
  }

  &__title {
    color: $c-white;
    font-size: 3.875rem;
    font-weight: normal;
    max-width: 39rem;
    text-align: center;
    margin-bottom: 5rem;

    &-sub {
      color: $c-white;
      font-size: 1.625rem;
      margin-bottom: 4.125rem;
      max-width: 48rem;
      text-align: center;
    }
  }

  &__btn {
    margin-bottom: 1.93rem;
  }

  &__link {
    color: $c-gray;
    margin-bottom: 5.375rem;
    transition: 0.4s;

    &:hover {
      color: $c-white;
    }
  }
}