{% if not args %}
    {% set args = {
        navList :
        [
            {
                link : '#',
                content: 'Features',
            },
            {
                link : '#',
                content: 'Pricing',
            },
            {
                link : '#',
                content: 'Blog',
            },
            {
                link : '#',
                content: 'More',
            },
        ],

        btn :
        [
            {
                btnColor: 'transparent',
                btnText: 'login',
            },
            {
                btnColor: 'white',
                btnText: 'get started',
            },
        ],
    } %}
{% endif %}
<header class="header">
    <div class="header__container">
        <div class="header__wrapper">
            <h1 class="header__logo">
                <a href="/" class="header__logo-link">
                    <img src="../../images/logo.png" alt="The Rapture Startup">
                </a>
            </h1>
            <nav class="header__nav">
                {% for item in args.navList %}
                    <li class="header__nav-item">
                        <a href="{{ item.link }}" class="header__nav-link">{{ item.content }}</a>
                    </li>
                {% endfor %}
            </nav>
        </div>
        <div class="header__log">
            {% for item in args.btn %}
                {% include "../elements/btn.twig" with { btnColor: item.btnColor, btnText: item.btnText  } %}
            {% endfor %}
        </div>
    </div>
</header>